@page "/weatherforecast"
@inherits QueryListComponent<GetWeatherForecast.Query>

<AppLayout>
    <AppLayoutHeader>
        <AppLayoutHeading>Weather Forecast</AppLayoutHeading>
        <Buttons>
            <Button Color="Color.Secondary" Clicked="ClearFilters" Outline>Clear Filters</Button>
            <Button Color="Color.Primary" Clicked="ShowFilters" Outline><Icon Name="@("fa fa-filter")" /> Filter</Button>
        </Buttons>
    </AppLayoutHeader>
    <AppLayoutBody>
        @if (Loading)
        {
            <Progress>
                <ProgressBar Animated Striped Value="100" />
            </Progress>
        }
        else
        {
            <Table Narrow Hoverable Striped Class="sticky-header">
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>ID</TableHeaderCell>
                        <TableHeaderCell>Date</TableHeaderCell>
                        <TableHeaderCell>Temp. (C)</TableHeaderCell>
                        <TableHeaderCell>Temp. (F)</TableHeaderCell>
                        <TableHeaderCell>Summary</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var forecast in Response.Data)
                    {
                        <TableRow>
                            <TableRowCell>@forecast.WeatherForecastId</TableRowCell>
                            <TableRowCell>@forecast.Date.ToShortDateString()</TableRowCell>
                            <TableRowCell>@forecast.TemperatureC</TableRowCell>
                            <TableRowCell>@forecast.TemperatureF</TableRowCell>
                            <TableRowCell>@forecast.Summary</TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
    </AppLayoutBody>
    <AppLayoutFooter>
        <Paginator Index="_pageIndex" PageSize="_pageSize" Length="Response.TotalCount" Page="OnPage" PageSizeOptions="@(new[] { 50, 100, 150 })" />
    </AppLayoutFooter>
</AppLayout>

<FilterModal @ref="modalRef" OnClose="NavigationManager.SetQueryString" />

@code {
    FilterModal modalRef;

    public bool Loading { get; set; }

    public GetWeatherForecast.Response Response { get; set; } = new GetWeatherForecast.Response();

    public void ClearFilters()
    {
        var query = new GetWeatherForecast.Query();
        SetQuery(query);
    }

    public void OnPage(PageEvent pageEvent)
    {
        _pageIndex = pageEvent.PageIndex;
        _pageSize = pageEvent.PageSize;
        var query = GetQuery();
        query.Take = _pageSize;
        query.Skip = pageEvent.PageIndex * pageEvent.PageSize;
        SetQuery(query);
    }

    protected override async Task SearchAsync(GetWeatherForecast.Query query)
    {
        Loading = true;
        StateHasChanged();
        Response = await Mediator.Send(query);
        Loading = false;
        StateHasChanged();
    }

    public void ShowFilters()
    {
        modalRef.Show(GetQuery());
    }
}
